{% extends "../base.html" %}
{% load static %}
{% block content %}

  <!--Programmes and their description in each cards-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/guest_mode/event_grid.css' %}">
  <script src="{% static "js/show_poster.js" %}"></script>


  <img id="zoomed-image" src="" alt="Zoomed Image">
  <div class="outer">
<!--Event 1-->
<div class="card mb-3" style="width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'img/events/2.jpg' %}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Logo Design</h5>
        <p class="card-text">Design a logo that embodies the spirit of [Organization/Brand Name]! We're calling on talented designers like you to create a unique and captivating logo that represents our values and mission. The winning design will become the new face of our brand, and will be featured on our website, social media, and marketing materials. So, unleash your creativity and submit your best design. We can't wait to see your interpretation of our brand's identity</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<!--Event 2-->
<div class="card mb-3" style="width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'img/events/2.jpg' %}" class="card-img" alt="..." >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Analytical Check</h5>
        <p class="card-text">Create a visual identity that captures the essence of [Organization/Brand Name]! We're seeking talented designers to develop a comprehensive branding package that includes a logo, color palette, typography, and imagery. The winning design will become the new visual identity of our brand, and will be used across all our marketing materials, website, and social media platforms. So, showcase your creativity and submit your best branding design. We're excited to see your interpretation of our brand's personality!"</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<!--Event 3-->
<div class="card mb-3" style="width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'img/events/3.jpg' %}" class="card-img" alt="..." >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Mind Cartle</h5>
        <p class="card-text">"Get ready to unleash your marketing genius! MindCarte presents the 'Best Marketing Team' contest, where talented individuals like you can showcase their creative strategies and innovative ideas. Assemble your dream team and compete against the best to win exciting prizes and recognition. Demonstrate your expertise in crafting compelling campaigns, developing brand identities, and driving business growth. Join the challenge and take your marketing skills to the next level</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<!--Event 4-->
<div class="card mb-3" style="width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'img/events/4.jpg' %}" class="card-img" alt="..." >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Death Match</h5>
        <p class="card-text">Get ready for the ultimate showdown! The Deathmatch competition is here, where the most skilled and ruthless competitors will face off in a battle of wits, strategy, and raw talent. In this high-stakes, high-reward contest, only the strongest will survive. Contestants will be pushed to their limits as they engage in intense, head-to-head matches, with each victory bringing them closer to the coveted title and prizes. Will you emerge victorious, or will you fall in the fray</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<!--Event 5-->
<div class="card mb-3" style="width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'img/events/5.jpg' %}" class="card-img" alt="..." >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Treasure Hunt</h5>
        <p class="card-text">Embark on a thrilling adventure! Our Treasure Hunt competition is a puzzle-packed challenge that will test your wit, strategy, and problem-solving skills. Follow the cryptic clues, decipher the hidden codes, and uncover the secrets that lead to the treasure. With each step, the stakes get higher, and the competition gets fiercer. Will you be the first to claim the treasure and bask in the glory of victory?</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<!--Event 6-->
<div class="card mb-3" style="width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'img/events/6.jpg' %}" class="card-img" alt="..." >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">JB Expo</h5>
        <p class="card-text">Showcase your innovative spirit! Our Expo competition is a platform for entrepreneurs, innovators, and creatives to display their groundbreaking projects, products, and ideas. Whether you're a startup, a student, or a professional, this is your chance to shine. Demonstrate your expertise, network with industry experts, and compete for prizes and recognition. Join the Expo and take your innovative ideas to the next level</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<!--Event 7-->
<div class="card mb-3" style="width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'img/events/7.jpg' %}" class="card-img" alt="..." >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<!--Event 8-->
<div class="card mb-3" style="width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'img/events/8.jpg' %}" class="card-img" alt="..." >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<!--Event 9-->
<div class="card mb-3" style="width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'img/events/9.jpg' %}" class="card-img" alt="..." >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Football Tournament</h5>
        <p class="card-text">Get ready for the ultimate showdown on the pitch! Our Football Tournament is a thrilling competition that brings together the best teams and players to battle it out for glory. With intense matches, stunning skills, and a passion for the beautiful game, this tournament promises to be an unforgettable experience. Will your team emerge victorious and lift the coveted trophy? Join the tournament and find out</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<!--WEvent 10-->
<div class="card mb-3" style="width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'img/events/10.jpg' %}" class="card-img" alt="..." >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">HR Game</h5>
        <p class="card-text">Are you a people person with a passion for HR? Do you have what it takes to be the best? Our HR Game competition is designed to test your skills, knowledge, and strategic thinking in the field of Human Resources. Through a series of challenges, simulations, and case studies, we'll put your HR expertise to the test. Compete against other HR professionals, showcase your talents, and prove that you're the ultimate HR champion</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<!--Event 11-->
<div class="card mb-3" style="width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'img/events/11.jpg' %}" class="card-img" alt="..." >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Best Accountant</h5>
        <p class="card-text">Are you a master of numbers with a passion for precision? Do you have what it takes to be the best accountant? Our Best Accountant competition is designed to test your technical skills, knowledge, and analytical thinking in the field of accounting. Through a series of challenges, case studies, and financial simulations, we'll put your accounting expertise to the test. Compete against other top accountants, showcase your talents, and prove that you're the ultimate accounting champion!</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<!--Event 12-->
<div class="card mb-3" style="width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'img/events/12.jpg' %}" class="card-img" alt="..." >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Project Showcase</h5>
        <p class="card-text">Showcase your innovative projects and take center stage! Our Project Showcase competition is a platform for individuals and teams to demonstrate their creative solutions, innovative ideas, and exceptional project management skills. Whether it's a tech startup, a social enterprise, or a research initiative, we want to see your project shine. Compete for prizes, get feedback from industry experts, and gain recognition for your outstanding work. Join the Project Showcase and share your success with the world</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<!--Event 13-->
<div class="card mb-3" style="width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'img/events/13.jpg' %}" class="card-img" alt="..." >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Business Quiz</h5>
        <p class="card-text">Test your business acumen and take the challenge! Our Business Quiz competition is designed to put your knowledge of business concepts, market trends, and industry insights to the test. From entrepreneurship and finance to marketing and management, we'll quiz you on it all. Compete against other business enthusiasts, showcase your expertise, and win exciting prizes. Are you ready to prove your business smarts?</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<!--Event 14-->
<div class="card mb-3" style="width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'img/events/14.jpg' %}" class="card-img" alt="..." >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Business Plan</h5>
        <p class="card-text">Turn your entrepreneurial vision into a reality! Our Business Plan competition invites aspiring entrepreneurs and startups to submit their innovative business ideas and compete for funding, mentorship, and recognition. Develop a comprehensive business plan that showcases your market analysis, financial projections, and growth strategy. Our panel of industry experts will review and judge the plans, providing valuable feedback and selecting the most promising ventures. Take the first step towards launching your dream business and apply now</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<!--Event 15-->
<div class="card mb-3" style="width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'img/events/15.jpg' %}" class="card-img" alt="..." >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Tech Quiz</h5>
        <p class="card-text">Get ready to reboot your knowledge! Our Tech Quiz competition is designed to challenge your technical expertise and test your understanding of the latest trends and innovations in the tech world. From coding and software development to artificial intelligence and cybersecurity, we'll quiz you on it all. Compete against other tech enthusiasts, showcase your skills, and win exciting prizes. Are you ready to level up your tech game</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<!--Event 16-->
<div class="card mb-3" style="width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'img/events/16.jpg' %}" class="card-img" alt="..." >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Free Fire Tournaments</h5>
        <p class="card-text">Free Fire tournaments are a great way to test your skills and compete with other players. There are several platforms that host Free Fire tournaments, offering cash prizes and rewards.
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<!--Event 17-->
<div class="card mb-3" style="width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'img/events/17.jpg' %}" class="card-img" alt="..." >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Battlegrounds Tournament</h5>
        <p class="card-text">Get ready for intense battle royale action! Join the Battlegrounds Tournament and compete against top players for prizes and glory. Showcase your survival skills, strategic thinking, and combat prowess to emerge victorious</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<!--End outer-->
</div>
{% endblock %}