{% extends '../base.html' %}
{% load static %}
   {% block content %}
 
      <!-- about_area_start  -->
      <div class="about_area black_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section_title text-center mb-80" id="about">
                        <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s" >About Program</h3>
                        <p class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s" >JB Fest is the annual cultural extravaganza hosted by Jai Bharath College of Management and Technology, Arakkappady, Perumbavoor, Ernakulam. This vibrant celebration brings together students, faculty, and the local community to showcase their talents, foster creativity, and build a stronger sense of camaraderie.

                            JB Fest is a melting pot of diverse cultural expressions, featuring a wide range of events and competitions, including music, dance, drama, art, literary events, and more. It provides a platform for aspiring artists and performers to showcase their skills, learn from experienced professionals, and interact with like-minded individuals.</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-6">
                    <div class="about_thumb">
                        <div class="shap_3  wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                            <img src="img/shape/shape_3.svg" alt="">
                        </div>
                        <div class="thumb_inner  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <img src="img/about/about.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end  -->

    <!-- programmes_area_start  -->
    <div class="performar_area black_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title mb-80">
                        <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">Programmes</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div  class="single_performer wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                <div data-tilt class="thumb">
                                    <img src="{% static 'img/events/1.jpg' %}" alt="">
                                </div>
                                <div class="performer_heading">
                                    <h4>Logo Design</h4>
                                    <span>First Prize</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div  class="single_performer wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                                <div data-tilt class="thumb">
                                    <img src="{% static 'img/events/2.jpg' %}" alt="">
                                </div>
                                <div class="performer_heading">
                                    <h4>Analytica Check</h4>
                                    <span>First Prize</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div  class="single_performer wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                                <div data-tilt class="thumb">
                                    <img src="{% static 'img/events/3.jpg' %}" alt="">
                                </div>
                                <div class="performer_heading">
                                    <h4>Mind Cartle</h4>
                                    <span>First Prize</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div   class="single_performer wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                                <div data-tilt class="thumb">
                                    <img src="{% static 'img/events/4.jpg' %}" alt="">
                                </div>
                                <div class="performer_heading">
                                    <h4>DeathMatch</h4>
                                    <span>First Prize</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div   class="single_performer wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                                <div data-tilt class="thumb">
                                    <img src="{% static 'img/events/5.jpg' %}" alt="">
                                </div>
                                <div class="performer_heading">
                                    <h4>Treasure Hunt</h4>
                                    <span>First Prize</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div   class="single_performer wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                                <div data-tilt class="thumb">
                                    <img src="{% static 'img/events/6.jpg' %}" alt="">
                                </div>
                                <div class="performer_heading">
                                    <h4>Football Tournament</h4>
                                    <span>First Prize</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div   class="single_performer wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                                <div data-tilt class="thumb">
                                    <img src="{% static 'img/events/9.jpg' %}" alt="">
                                </div>
                                <div class="performer_heading">
                                    <h4>Best HR</h4>
                                    <span>First Prize</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div   class="single_performer wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                                <div data-tilt class="thumb">
                                    <img src="{% static 'img/events/10.jpg' %}" alt="">
                                </div>
                                <div class="performer_heading">
                                    <h4>Best Accountant</h4>
                                    <span>First Prize</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div   class="single_performer wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                                <div data-tilt class="thumb">
                                    <img src="{% static 'img/events/11.jpg' %}" alt="">
                                </div>
                                <div class="performer_heading">
                                    <h4>Project Showcase</h4>
                                    <span>First Prize</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div   class="single_performer wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                                <div data-tilt class="thumb">
                                    <img src="{% static 'img/events/12.jpg' %}" alt="">
                                </div>
                                <div class="performer_heading">
                                    <h4>Business Quiz</h4>
                                    <span>First Prize</span>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'events' %}" class="btn btn-primary">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- programmes_area_end  -->

 

    <div class="program_details_area detials_bg_1 overlay2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-80  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                        <h3>Schedule</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="program_detail_wrap">
                        <div class="single_propram">
                            <div class="inner_wrap">
                                <div class="circle_img"></div>
                                <div class="porgram_top">
                                    <span class=" wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">JB Fest</span>
                                    <h4 class=" wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">February </h4>
                                </div>
                                <div class="thumb wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                                    <img src="{% static 'img/program_details/1.png' %}" alt="">
                                </div>
                                <h4 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">Mr. Zosoldos</h4>
                            </div>
                        </div>
                        <div class="single_propram">
                            <div class="inner_wrap">
                                <div class="circle_img"></div>
                                <div class="porgram_top">
                                    <span class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">3.00-4.00pm</span>
                                    <h4 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">12 Feb 2020</h4>
                                </div>
                                <div class="thumb wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                                    <img src="{% static 'img/program_details/2.png' %}" alt="">
                                </div>
                                <h4 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">Mr. Zosoldos</h4>
                            </div>
                        </div>
                        <div class="single_propram">
                            <div class="inner_wrap">
                                <div class="circle_img"></div>
                                <div class="porgram_top">
                                    <span class=" wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">3.00-4.00pm</span>
                                    <h4 class=" wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">12 Feb 2020</h4>
                                </div>
                                <div class="thumb  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                                    <img src="{% static 'img/program_details/3.png' %}" alt="">
                                </div>
                                <h4 class=" wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">Mr. Zosoldos</h4>
                            </div>
                        </div>
                        <div class="single_propram">
                            <div class="inner_wrap">
                                <div class="circle_img"></div>
                                <div class="porgram_top">
                                    <span class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">3.00-4.00pm</span>
                                    <h4 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">12 Feb 2020</h4>
                                </div>
                                <div class="thumb wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                                    <img src="{% static 'img/program_details/4.png' %}" alt="">
                                </div>
                                <h4 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">Mr. Zosoldos</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

    <!-- brand_area_start  -->
    <div class="brand_area black_bg" id="sponsors">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-80">
                        <h4 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">Sponsor Logos</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand_wrap">
                        <div class="brand_active owl-carousel">
                            <div class="single_brand text-center">
                                <img src="{% static 'img/brand/1.png' %}" alt="">
                            </div>
                            <div class="single_brand text-center">
                                <img src="{% static 'img/brand/2.png' %}" alt="">
                            </div>
                            <div class="single_brand text-center">
                                <img src="{% static 'img/brand/3.png' %}" alt="">
                            </div>
                            <div class="single_brand text-center">
                                <img src="{% static 'img/brand/4.png' %}" alt="">
                            </div>
                            <div class="single_brand text-center">
                                <img src="{% static 'img/brand/5.png' %}" alt="">
                            </div>
                            <div class="single_brand text-center">
                                <img src="{% static 'img/brand/1.png' %}" alt="">
                            </div>
                            <div class="single_brand text-center">
                                <img src="{% static 'img/brand/2.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand_area_end  -->
     {% endblock %}
    